
## 2021 Data Cleaning

In [1]:
import pandas as pd
# Reading in Data
df_2021 = pd.read_csv('csv_data/2021_County_Health_Rankings_New_York_Data.csv')
df_2021

,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,YPLL Rate (AIAN),...,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (White),% Drive Alone (White) 95% CI - Low,% Drive Alone (White) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.19,95% CI - High.19,Z-Score.34,Unnamed: 249
0,36000,New York,NaN,NaN,191195.0,5406.0,5370.0,5443.0,NaN,4789.0,...,35.0,63.0,63.0,63.0,9300315,39,38,39,NaN,NaN
1,36001,New York,Albany,NaN,3336.0,6039.0,5716.0,6363.0,-0.35,NaN,...,63.0,84.0,83.0,85.0,157933,21,20,22,-1.20,NaN
2,36003,New York,Allegany,NaN,637.0,7433.0,6498.0,8369.0,0.94,NaN,...,41.0,76.0,74.0,78.0,19545,30,28,32,-0.42,NaN
3,36005,New York,Bronx,NaN,15102.0,6711.0,6567.0,6854.0,0.27,NaN,...,30.0,58.0,57.0,60.0,582554,54,52,56,1.66,NaN
4,36007,New York,Broome,NaN,2451.0,7179.0,6723.0,7635.0,0.70,NaN,...,73.0,84.0,83.0,85.0,84232,15,14,16,-1.75,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,36115,New York,Washington,NaN,810.0,6537.0,5764.0,7310.0,0.11,NaN,...,NaN,NaN,NaN,NaN,28433,39,36,42,0.33,NaN
59,36117,New York,Wayne,NaN,1194.0,6853.0,6205.0,7500.0,0.40,NaN,...,71.0,83.0,81.0,85.0,43773,39,37,41,0.35,NaN
60,36119,New York,Westchester,NaN,7347.0,4221.0,4069.0,4373.0,-2.05,NaN,...,58.0,79.0,78.0,79.0,471725,42,41,43,0.57,NaN
61,36121,New York,Wyoming,NaN,470.0,6046.0,5142.0,6951.0,-0.35,NaN,...,NaN,NaN,NaN,NaN,18005,38,35,41,0.26,NaN
62,36123,New York,Yates,NaN,334.0,7690.0,6311.0,9069.0,1.18,NaN,...,NaN,NaN,NaN,NaN,11252,32,28,36,-0.26,NaN

In [2]:
# Selecting the columns we only want
select_df_2021 = df_2021[['FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
select_df_2021

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,36000,NaN,191195.0,16,8,9.0,5057,1007242,329:1
1,36001,Albany,3336.0,13,8,8.4,95,10070,266:1
2,36003,Allegany,637.0,18,7,8.0,16,1916,423:1
3,36005,Bronx,15102.0,29,10,7.4,192,104490,465:1
4,36007,Broome,2451.0,17,8,8.0,65,7633,442:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,810.0,18,7,8.4,34,2515,712:1
59,36117,Wayne,1194.0,16,7,8.5,55,3527,947:1
60,36119,Westchester,7347.0,14,8,9.2,175,45723,248:1
61,36121,Wyoming,470.0,18,7,8.3,23,1377,453:1
62,36123,Yates,334.0,16,4,8.9,10,1570,859:1

In [3]:
# Removing the first row that was NaN 
select_df_2021 = select_df_2021.drop(labels=0, axis=0)
select_df_2021

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,36001,Albany,3336.0,13,8,8.4,95,10070,266:1
2,36003,Allegany,637.0,18,7,8.0,16,1916,423:1
3,36005,Bronx,15102.0,29,10,7.4,192,104490,465:1
4,36007,Broome,2451.0,17,8,8.0,65,7633,442:1
5,36009,Cattaraugus,1171.0,20,8,8.1,42,3903,705:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,810.0,18,7,8.4,34,2515,712:1
59,36117,Wayne,1194.0,16,7,8.5,55,3527,947:1
60,36119,Westchester,7347.0,14,8,9.2,175,45723,248:1
61,36121,Wyoming,470.0,18,7,8.3,23,1377,453:1
62,36123,Yates,334.0,16,4,8.9,10,1570,859:1

In [4]:
# The the year for the dataset
select_df_2021["Years"] = "2021"
select_df_2021

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio,Years
1,36001,Albany,3336.0,13,8,8.4,95,10070,266:1,2021
2,36003,Allegany,637.0,18,7,8.0,16,1916,423:1,2021
3,36005,Bronx,15102.0,29,10,7.4,192,104490,465:1,2021
4,36007,Broome,2451.0,17,8,8.0,65,7633,442:1,2021
5,36009,Cattaraugus,1171.0,20,8,8.1,42,3903,705:1,2021
...,...,...,...,...,...,...,...,...,...,...
58,36115,Washington,810.0,18,7,8.4,34,2515,712:1,2021
59,36117,Wayne,1194.0,16,7,8.5,55,3527,947:1,2021
60,36119,Westchester,7347.0,14,8,9.2,175,45723,248:1,2021
61,36121,Wyoming,470.0,18,7,8.3,23,1377,453:1,2021
62,36123,Yates,334.0,16,4,8.9,10,1570,859:1,2021

In [5]:
# Reorganizing the dataset
clean_data_2021 = select_df_2021[['Years', 'FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
clean_data_2021

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2021,36001,Albany,3336.0,13,8,8.4,95,10070,266:1
2,2021,36003,Allegany,637.0,18,7,8.0,16,1916,423:1
3,2021,36005,Bronx,15102.0,29,10,7.4,192,104490,465:1
4,2021,36007,Broome,2451.0,17,8,8.0,65,7633,442:1
5,2021,36009,Cattaraugus,1171.0,20,8,8.1,42,3903,705:1
...,...,...,...,...,...,...,...,...,...,...
58,2021,36115,Washington,810.0,18,7,8.4,34,2515,712:1
59,2021,36117,Wayne,1194.0,16,7,8.5,55,3527,947:1
60,2021,36119,Westchester,7347.0,14,8,9.2,175,45723,248:1
61,2021,36121,Wyoming,470.0,18,7,8.3,23,1377,453:1
62,2021,36123,Yates,334.0,16,4,8.9,10,1570,859:1

In [7]:
clean_data_2021.dtypes

Years                            object
FIPS                              int64
County                           object
Deaths                          float64
% Fair or Poor Health             int64
% Low birthweight                 int64
Food Environment Index          float64
# Driving Deaths                  int64
# Uninsured                       int64
Mental Health Provider Ratio     object
dtype: object

In [8]:
# Spliting the Mental Health Provider Ratio 
changing_2021 = clean_data_2021['Mental Health Provider Ratio'].str.split(':', expand=True)
changing_2021.dtypes

0    object
1    object
dtype: object

In [10]:
# Converting the string into int
changing_2021 = changing_2021.astype('int')

In [11]:
# Changing the Mental Health Provider Ratio into a int value
clean_data_2021['Mental Health Provider Ratio'] = changing_2021[1]/changing_2021[0]
clean_data_2021

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2021,36001,Albany,3336.0,13,8,8.4,95,10070,0.003759
2,2021,36003,Allegany,637.0,18,7,8.0,16,1916,0.002364
3,2021,36005,Bronx,15102.0,29,10,7.4,192,104490,0.002151
4,2021,36007,Broome,2451.0,17,8,8.0,65,7633,0.002262
5,2021,36009,Cattaraugus,1171.0,20,8,8.1,42,3903,0.001418
...,...,...,...,...,...,...,...,...,...,...
58,2021,36115,Washington,810.0,18,7,8.4,34,2515,0.001404
59,2021,36117,Wayne,1194.0,16,7,8.5,55,3527,0.001056
60,2021,36119,Westchester,7347.0,14,8,9.2,175,45723,0.004032
61,2021,36121,Wyoming,470.0,18,7,8.3,23,1377,0.002208
62,2021,36123,Yates,334.0,16,4,8.9,10,1570,0.001164

In [13]:
# Saving the new and cleaned dataset
file_path_2021 = "csv_data/2021_clean_dataset.csv"
clean_data_2021.to_csv(file_path_2021, index=False )


## 2020 Data Cleaning

In [14]:
# Reading in Data
df_2020 = pd.read_csv('csv_data/2020_County_Health_Rankings_New_York_Data.csv')
df_2020

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,YPLL Rate (AIAN),YPLL Rate (AIAN) 95% CI - Low,...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (White),% Drive Alone (White) 95% CI - Low,% Drive Alone (White) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.18,95% CI - High.18,Z-Score.34
0,36000,New York,NaN,191428.0,5456.0,5420.0,5493.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9246571,38,38,38,NaN
1,36001,New York,Albany,3307.0,5821.0,5512.0,6130.0,-0.62,NaN,NaN,...,54.0,66.0,84.0,83.0,85.0,156817,21,20,22,-1.20
2,36003,New York,Allegany,628.0,7283.0,6363.0,8203.0,0.77,NaN,NaN,...,7.0,39.0,76.0,74.0,77.0,19556,29,27,31,-0.47
3,36005,New York,Bronx,15016.0,6696.0,6554.0,6838.0,0.21,NaN,NaN,...,27.0,29.0,59.0,57.0,61.0,578100,53,51,55,1.64
4,36007,New York,Broome,2426.0,7415.0,6950.0,7880.0,0.89,NaN,NaN,...,56.0,74.0,84.0,83.0,85.0,85248,15,14,16,-1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,36115,New York,Washington,821.0,6950.0,6141.0,7758.0,0.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27834,39,36,42,0.41
59,36117,New York,Wayne,1221.0,7147.0,6477.0,7817.0,0.64,NaN,NaN,...,47.0,77.0,84.0,82.0,85.0,42850,39,37,42,0.43
60,36119,New York,Westchester,7306.0,4258.0,4105.0,4410.0,-2.09,NaN,NaN,...,54.0,57.0,78.0,78.0,79.0,468771,41,40,42,0.60
61,36121,New York,Wyoming,500.0,6456.0,5533.0,7379.0,-0.02,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18120,38,34,41,0.26
62,36123,New York,Yates,305.0,7491.0,6114.0,8869.0,0.96,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10958,30,27,33,-0.41

In [19]:
# Selecting the columns we only want
select_df_2020 = df_2020[['FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low Birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
select_df_2020

,FIPS,County,Deaths,% Fair or Poor Health,% Low Birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,36000,NaN,191428.0,17,8,9.1,5167,1079651,346:1
1,36001,Albany,3307.0,14,8,8.0,105,10808,281:1
2,36003,Allegany,628.0,14,7,8.1,17,2000,451:1
3,36005,Bronx,15016.0,27,9,7.7,200,110580,486:1
4,36007,Broome,2426.0,16,8,8.0,68,7961,469:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,821.0,14,7,8.4,36,2629,712:1
59,36117,Wayne,1221.0,15,7,8.6,57,3530,958:1
60,36119,Westchester,7306.0,15,8,9.1,175,55634,258:1
61,36121,Wyoming,500.0,14,6,8.2,23,1366,466:1
62,36123,Yates,305.0,15,5,8.8,12,1587,828:1

In [21]:
# Changing the name of the column so it can match when merging with other dataset
select_df_2020.rename(columns = {'% Low Birthweight':'% Low birthweight'}, inplace=True)

C:\Anaconda\envs\PythonData\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
select_df_2020

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,36000,NaN,191428.0,17,8,9.1,5167,1079651,346:1
1,36001,Albany,3307.0,14,8,8.0,105,10808,281:1
2,36003,Allegany,628.0,14,7,8.1,17,2000,451:1
3,36005,Bronx,15016.0,27,9,7.7,200,110580,486:1
4,36007,Broome,2426.0,16,8,8.0,68,7961,469:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,821.0,14,7,8.4,36,2629,712:1
59,36117,Wayne,1221.0,15,7,8.6,57,3530,958:1
60,36119,Westchester,7306.0,15,8,9.1,175,55634,258:1
61,36121,Wyoming,500.0,14,6,8.2,23,1366,466:1
62,36123,Yates,305.0,15,5,8.8,12,1587,828:1

In [23]:
# Removing the first row that was NaN 
select_df_2020 = select_df_2020.drop(labels=0, axis=0)
select_df_2020

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,36001,Albany,3307.0,14,8,8.0,105,10808,281:1
2,36003,Allegany,628.0,14,7,8.1,17,2000,451:1
3,36005,Bronx,15016.0,27,9,7.7,200,110580,486:1
4,36007,Broome,2426.0,16,8,8.0,68,7961,469:1
5,36009,Cattaraugus,1113.0,16,8,8.1,34,3956,800:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,821.0,14,7,8.4,36,2629,712:1
59,36117,Wayne,1221.0,15,7,8.6,57,3530,958:1
60,36119,Westchester,7306.0,15,8,9.1,175,55634,258:1
61,36121,Wyoming,500.0,14,6,8.2,23,1366,466:1
62,36123,Yates,305.0,15,5,8.8,12,1587,828:1

In [24]:
# The the year for the dataset
select_df_2020["Years"] = "2020"
select_df_2020

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio,Years
1,36001,Albany,3307.0,14,8,8.0,105,10808,281:1,2020
2,36003,Allegany,628.0,14,7,8.1,17,2000,451:1,2020
3,36005,Bronx,15016.0,27,9,7.7,200,110580,486:1,2020
4,36007,Broome,2426.0,16,8,8.0,68,7961,469:1,2020
5,36009,Cattaraugus,1113.0,16,8,8.1,34,3956,800:1,2020
...,...,...,...,...,...,...,...,...,...,...
58,36115,Washington,821.0,14,7,8.4,36,2629,712:1,2020
59,36117,Wayne,1221.0,15,7,8.6,57,3530,958:1,2020
60,36119,Westchester,7306.0,15,8,9.1,175,55634,258:1,2020
61,36121,Wyoming,500.0,14,6,8.2,23,1366,466:1,2020
62,36123,Yates,305.0,15,5,8.8,12,1587,828:1,2020

In [25]:
# Reorganizing the dataset
clean_data_2020 = select_df_2020[['Years', 'FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
clean_data_2020

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2020,36001,Albany,3307.0,14,8,8.0,105,10808,281:1
2,2020,36003,Allegany,628.0,14,7,8.1,17,2000,451:1
3,2020,36005,Bronx,15016.0,27,9,7.7,200,110580,486:1
4,2020,36007,Broome,2426.0,16,8,8.0,68,7961,469:1
5,2020,36009,Cattaraugus,1113.0,16,8,8.1,34,3956,800:1
...,...,...,...,...,...,...,...,...,...,...
58,2020,36115,Washington,821.0,14,7,8.4,36,2629,712:1
59,2020,36117,Wayne,1221.0,15,7,8.6,57,3530,958:1
60,2020,36119,Westchester,7306.0,15,8,9.1,175,55634,258:1
61,2020,36121,Wyoming,500.0,14,6,8.2,23,1366,466:1
62,2020,36123,Yates,305.0,15,5,8.8,12,1587,828:1

In [26]:
clean_data_2020.dtypes

Years                            object
FIPS                              int64
County                           object
Deaths                          float64
% Fair or Poor Health             int64
% Low birthweight                 int64
Food Environment Index          float64
# Driving Deaths                  int64
# Uninsured                       int64
Mental Health Provider Ratio     object
dtype: object

In [27]:
# Spliting the Mental Health Provider Ratio 
changing_2020 = clean_data_2020['Mental Health Provider Ratio'].str.split(':', expand=True)
changing_2020.dtypes

0    object
1    object
dtype: object

In [29]:
# Converting the string into int
changing_2020 = changing_2020.astype('int')

In [30]:
# Changing the Mental Health Provider Ratio into a int value
clean_data_2020['Mental Health Provider Ratio'] = changing_2020[1]/changing_2020[0]
clean_data_2020

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2020,36001,Albany,3307.0,14,8,8.0,105,10808,0.003559
2,2020,36003,Allegany,628.0,14,7,8.1,17,2000,0.002217
3,2020,36005,Bronx,15016.0,27,9,7.7,200,110580,0.002058
4,2020,36007,Broome,2426.0,16,8,8.0,68,7961,0.002132
5,2020,36009,Cattaraugus,1113.0,16,8,8.1,34,3956,0.001250
...,...,...,...,...,...,...,...,...,...,...
58,2020,36115,Washington,821.0,14,7,8.4,36,2629,0.001404
59,2020,36117,Wayne,1221.0,15,7,8.6,57,3530,0.001044
60,2020,36119,Westchester,7306.0,15,8,9.1,175,55634,0.003876
61,2020,36121,Wyoming,500.0,14,6,8.2,23,1366,0.002146
62,2020,36123,Yates,305.0,15,5,8.8,12,1587,0.001208

In [32]:
# Saving the new and cleaned dataset
file_path_2020 = "csv_data/2020_clean_dataset.csv"
clean_data_2020.to_csv(file_path_2020, index=False )