In [1]:
import pandas as pd

In [3]:
# Reading in Data
df = pd.read_csv('csv_data/2022_County_Health_Rankings_New_York_Data.csv')
df

,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,YPLL Rate (AIAN),...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (white),% Drive Alone (white) 95% CI - Low,% Drive Alone (white) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.19,95% CI - High.19,Z-Score.34
0,36000,New York,NaN,NaN,213529.0,5952.0,5914.0,5991.0,NaN,5029.0,...,35.0,36.0,62.0,62.0,62.0,9219025,39,39,39,NaN
1,36001,New York,Albany,NaN,3545.0,6525.0,6186.0,6865.0,-0.18,NaN,...,58.0,67.0,83.0,82.0,84.0,155976,22,20,23,-1.19
2,36003,New York,Allegany,NaN,646.0,7085.0,6185.0,7985.0,0.34,NaN,...,11.0,38.0,75.0,73.0,78.0,19219,31,28,33,-0.40
3,36005,New York,Bronx,NaN,18665.0,8106.0,7949.0,8264.0,1.27,NaN,...,28.0,31.0,59.0,57.0,60.0,571796,55,53,58,1.75
4,36007,New York,Broome,NaN,2598.0,7542.0,7078.0,8007.0,0.75,NaN,...,53.0,71.0,83.0,82.0,84.0,81097,15,13,16,-1.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,36115,New York,Washington,NaN,882.0,6665.0,5914.0,7415.0,-0.05,NaN,...,NaN,NaN,NaN,NaN,NaN,27144,40,36,44,0.41
59,36117,New York,Wayne,NaN,1248.0,7134.0,6460.0,7807.0,0.38,NaN,...,47.0,74.0,81.0,79.0,82.0,43325,39,37,42,0.34
60,36119,New York,Westchester,NaN,8329.0,4618.0,4460.0,4775.0,-1.92,NaN,...,55.0,58.0,75.0,74.0,76.0,469568,42,41,43,0.58
61,36121,New York,Wyoming,NaN,498.0,5892.0,5032.0,6752.0,-0.76,NaN,...,NaN,NaN,NaN,NaN,NaN,18356,38,35,42,0.26
62,36123,New York,Yates,NaN,339.0,7336.0,6004.0,8667.0,0.56,NaN,...,NaN,NaN,NaN,NaN,NaN,10873,31,27,36,-0.35

In [4]:
# Selecting the columns we only want
select_df = df[['FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,36000,NaN,213529.0,16,8,9.0,4967,973636,308:1
1,36001,Albany,3545.0,15,8,8.3,91,9639,250:1
2,36003,Allegany,646.0,18,7,8.0,16,1824,403:1
3,36005,Bronx,18665.0,30,10,7.6,207,100053,432:1
4,36007,Broome,2598.0,19,8,7.9,61,7520,425:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,882.0,18,7,8.5,29,2344,666:1
59,36117,Wayne,1248.0,17,7,8.6,56,3067,885:1
60,36119,Westchester,8329.0,16,8,9.3,163,45099,234:1
61,36121,Wyoming,498.0,18,7,8.4,19,1289,434:1
62,36123,Yates,339.0,18,4,8.9,10,1520,854:1

In [5]:
# Removing the first row that was NaN 
select_df = select_df.drop(labels=0, axis=0)
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,36001,Albany,3545.0,15,8,8.3,91,9639,250:1
2,36003,Allegany,646.0,18,7,8.0,16,1824,403:1
3,36005,Bronx,18665.0,30,10,7.6,207,100053,432:1
4,36007,Broome,2598.0,19,8,7.9,61,7520,425:1
5,36009,Cattaraugus,1224.0,20,8,7.9,41,4088,671:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,882.0,18,7,8.5,29,2344,666:1
59,36117,Wayne,1248.0,17,7,8.6,56,3067,885:1
60,36119,Westchester,8329.0,16,8,9.3,163,45099,234:1
61,36121,Wyoming,498.0,18,7,8.4,19,1289,434:1
62,36123,Yates,339.0,18,4,8.9,10,1520,854:1

In [6]:
# The the year for the dataset
select_df["Years"] = "2022"
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio,Years
1,36001,Albany,3545.0,15,8,8.3,91,9639,250:1,2022
2,36003,Allegany,646.0,18,7,8.0,16,1824,403:1,2022
3,36005,Bronx,18665.0,30,10,7.6,207,100053,432:1,2022
4,36007,Broome,2598.0,19,8,7.9,61,7520,425:1,2022
5,36009,Cattaraugus,1224.0,20,8,7.9,41,4088,671:1,2022
...,...,...,...,...,...,...,...,...,...,...
58,36115,Washington,882.0,18,7,8.5,29,2344,666:1,2022
59,36117,Wayne,1248.0,17,7,8.6,56,3067,885:1,2022
60,36119,Westchester,8329.0,16,8,9.3,163,45099,234:1,2022
61,36121,Wyoming,498.0,18,7,8.4,19,1289,434:1,2022
62,36123,Yates,339.0,18,4,8.9,10,1520,854:1,2022

In [7]:
# Reorganizing the dataset
clean_data = select_df[['Years', 'FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
clean_data

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2022,36001,Albany,3545.0,15,8,8.3,91,9639,250:1
2,2022,36003,Allegany,646.0,18,7,8.0,16,1824,403:1
3,2022,36005,Bronx,18665.0,30,10,7.6,207,100053,432:1
4,2022,36007,Broome,2598.0,19,8,7.9,61,7520,425:1
5,2022,36009,Cattaraugus,1224.0,20,8,7.9,41,4088,671:1
...,...,...,...,...,...,...,...,...,...,...
58,2022,36115,Washington,882.0,18,7,8.5,29,2344,666:1
59,2022,36117,Wayne,1248.0,17,7,8.6,56,3067,885:1
60,2022,36119,Westchester,8329.0,16,8,9.3,163,45099,234:1
61,2022,36121,Wyoming,498.0,18,7,8.4,19,1289,434:1
62,2022,36123,Yates,339.0,18,4,8.9,10,1520,854:1

In [8]:
clean_data.dtypes

Years                            object
FIPS                              int64
County                           object
Deaths                          float64
% Fair or Poor Health             int64
% Low birthweight                 int64
Food Environment Index          float64
# Driving Deaths                  int64
# Uninsured                       int64
Mental Health Provider Ratio     object
dtype: object

In [9]:
# Spliting the Mental Health Provider Ratio 
changing = clean_data['Mental Health Provider Ratio'].str.split(':', expand=True)
changing.dtypes

0    object
1    object
dtype: object

In [10]:
# Converting the string into int
changing = changing.astype('int')

In [11]:
# Changing the Mental Health Provider Ratio into a int value
clean_data['Mental Health Provider Ratio'] = changing[1]/changing[0]
clean_data

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2022,36001,Albany,3545.0,15,8,8.3,91,9639,0.004000
2,2022,36003,Allegany,646.0,18,7,8.0,16,1824,0.002481
3,2022,36005,Bronx,18665.0,30,10,7.6,207,100053,0.002315
4,2022,36007,Broome,2598.0,19,8,7.9,61,7520,0.002353
5,2022,36009,Cattaraugus,1224.0,20,8,7.9,41,4088,0.001490
...,...,...,...,...,...,...,...,...,...,...
58,2022,36115,Washington,882.0,18,7,8.5,29,2344,0.001502
59,2022,36117,Wayne,1248.0,17,7,8.6,56,3067,0.001130
60,2022,36119,Westchester,8329.0,16,8,9.3,163,45099,0.004274
61,2022,36121,Wyoming,498.0,18,7,8.4,19,1289,0.002304
62,2022,36123,Yates,339.0,18,4,8.9,10,1520,0.001171

In [13]:
# Saving the new and cleaned dataset
file_path = "csv_data/2022_clean_dataset.csv"
clean_data.to_csv(file_path, index=False )