# WHICH EXHIBITS THE GREATEST INFLUENCE ON PREMATURE DEATHS?
## FOR THE FOLLWING PARAMETERS:
* FAIR OR POOR HEALTH
* LOW BIRTHWEIGHT
* FOOD ENVIROMENT INDEX
* DRVING DEATH NUMBERS
* UNINSURED NUMBER
* MENTAL HEALTH PROVIDER RATIO

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(Path('complete_dataset.csv'))
df.head(61)

,Years,FIPS,County,Deaths,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Driving_Deaths_Number,Uninsured_Number,Mental_Health_Provider_Ratio
0,2011,36001,Albany,2948,12,8,0.0,0,0,0.002985
1,2011,36003,Allegany,565,16,6,0.0,0,0,0.000243
2,2011,36005,Bronx,14630,26,9,0.0,0,0,0.000957
3,2011,36007,Broome,2243,13,7,0.0,0,0,0.000262
4,2011,36009,Cattaraugus,1007,20,6,0.0,0,0,0.000075
...,...,...,...,...,...,...,...,...,...,...
56,2011,36117,Wayne,991,14,6,0.0,0,0,0.000055
57,2011,36119,Westchester,7144,12,7,0.0,0,0,0.003759
58,2011,36121,Wyoming,405,13,5,0.0,0,0,0.001325
59,2012,36001,Albany,2859,12,8,0.0,143,23381,0.002985
60,2012,36003,Allegany,557,16,6,0.0,68,4665,0.000243

In [3]:
# new df group by county first -COMPLETED
# get the average of the columns- COMPLETED
# drop rows with Zero or dont include zero in avg(interpelate those values)
# instead of whole number of death replace with a death/total population of the county
# get columns on the same scale - module 17 or 19 sklearn preprocessing

In [4]:
df.groupby(['County']).mean()
# update to not include features with Zero

,Years,FIPS,Deaths,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Driving_Deaths_Number,Uninsured_Number,Mental_Health_Provider_Ratio
County,,,,,,,,,
Albany,2016.5,36001.0,3081.000000,12.916667,8.166667,6.008333,95.666667,15828.916667,0.002971
Allegany,2016.5,36003.0,561.416667,15.500000,6.833333,6.150000,24.583333,2833.666667,0.001483
Bronx,2016.5,36005.0,14881.000000,26.666667,9.416667,5.491667,242.583333,144791.500000,0.001508
Broome,2016.5,36007.0,2321.583333,15.083333,7.750000,5.916667,68.250000,11652.000000,0.001537
Cattaraugus,2016.5,36009.0,1064.083333,18.250000,7.333333,6.133333,44.916667,5763.833333,0.000867
...,...,...,...,...,...,...,...,...,...
Washington,2016.5,36115.0,751.916667,15.750000,7.250000,6.308333,42.583333,4004.666667,0.002083
Wayne,2016.5,36117.0,1092.333333,16.250000,6.583333,6.416667,54.250000,5611.833333,0.000679
Westchester,2016.5,36119.0,7188.166667,13.166667,7.916667,6.808333,203.250000,70127.166667,0.003411
Wyoming,2016.5,36121.0,457.666667,14.750000,5.750000,6.233333,23.666667,2384.833333,0.001542
Yates,2019.0,36123.0,297.857143,14.428571,4.714286,8.757143,14.857143,1929.714286,0.001054

In [5]:
means_df = df.groupby(['County']).mean()

In [6]:
means_df.head(70)

,Years,FIPS,Deaths,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Driving_Deaths_Number,Uninsured_Number,Mental_Health_Provider_Ratio
County,,,,,,,,,
Albany,2016.5,36001.0,3081.000000,12.916667,8.166667,6.008333,95.666667,15828.916667,0.002971
Allegany,2016.5,36003.0,561.416667,15.500000,6.833333,6.150000,24.583333,2833.666667,0.001483
Bronx,2016.5,36005.0,14881.000000,26.666667,9.416667,5.491667,242.583333,144791.500000,0.001508
Broome,2016.5,36007.0,2321.583333,15.083333,7.750000,5.916667,68.250000,11652.000000,0.001537
Cattaraugus,2016.5,36009.0,1064.083333,18.250000,7.333333,6.133333,44.916667,5763.833333,0.000867
...,...,...,...,...,...,...,...,...,...
Washington,2016.5,36115.0,751.916667,15.750000,7.250000,6.308333,42.583333,4004.666667,0.002083
Wayne,2016.5,36117.0,1092.333333,16.250000,6.583333,6.416667,54.250000,5611.833333,0.000679
Westchester,2016.5,36119.0,7188.166667,13.166667,7.916667,6.808333,203.250000,70127.166667,0.003411
Wyoming,2016.5,36121.0,457.666667,14.750000,5.750000,6.233333,23.666667,2384.833333,0.001542
Yates,2019.0,36123.0,297.857143,14.428571,4.714286,8.757143,14.857143,1929.714286,0.001054

In [7]:
#create counties list
county_df = df['County'].unique()

In [8]:
county_df

array(['Albany', 'Allegany', 'Bronx', 'Broome', 'Cattaraugus', 'Cayuga',
       'Chautauqua', 'Chemung', 'Chenango', 'Clinton', 'Columbia',
       'Cortland', 'Delaware', 'Dutchess', 'Erie', 'Essex', 'Franklin',
       'Fulton', 'Genesee', 'Greene', 'Herkimer', 'Jefferson', 'Kings',
       'Lewis', 'Livingston', 'Madison', 'Monroe', 'Montgomery', 'Nassau',
       'New York', 'Niagara', 'Oneida', 'Onondaga', 'Ontario', 'Orange',
       'Orleans', 'Oswego', 'Otsego', 'Putnam', 'Queens', 'Rensselaer',
       'Richmond', 'Rockland', 'St. Lawrence', 'Saratoga', 'Schenectady',
       'Schoharie', 'Schuyler', 'Steuben', 'Suffolk', 'Sullivan', 'Tioga',
       'Tompkins', 'Ulster', 'Warren', 'Washington', 'Wayne',
       'Westchester', 'Wyoming', 'Seneca', 'Hamilton', 'Yates'],
      dtype=object)

In [9]:
county_series = pd.Series(county_df)

for index, county in county_series.items():
    print(county)
    if (county == 'Albany'):
        print("Its Albany!!!!!!")

Albany
Its Albany!!!!!!
Allegany
Bronx
Broome
Cattaraugus
Cayuga
Chautauqua
Chemung
Chenango
Clinton
Columbia
Cortland
Delaware
Dutchess
Erie
Essex
Franklin
Fulton
Genesee
Greene
Herkimer
Jefferson
Kings
Lewis
Livingston
Madison
Monroe
Montgomery
Nassau
New York
Niagara
Oneida
Onondaga
Ontario
Orange
Orleans
Oswego
Otsego
Putnam
Queens
Rensselaer
Richmond
Rockland
St. Lawrence
Saratoga
Schenectady
Schoharie
Schuyler
Steuben
Suffolk
Sullivan
Tioga
Tompkins
Ulster
Warren
Washington
Wayne
Westchester
Wyoming
Seneca
Hamilton
Yates

In [10]:
populations_df = pd.read_csv(Path('2020_Census_Population.csv'))
populations_df.head(61)

         County  population
0        Albany      314848
1      Allegany       46456
2         Bronx     1472654
3        Broome      198683
4   Cattaraugus       77042
..          ...         ...
56       Warren       65737
57   Washington       61302
58        Wayne       91283
59  Westchester     1004457
60      Wyoming       40531

[61 rows x 2 columns]

In [11]:
#merged_pop_df = pd.merge(df, populations_df, on=["County", "population"])
merged_pop_df = pd.merge(means_df, populations_df, on=["County"])


merged_pop_df.shape

(62, 11)

In [12]:
merged_pop_df.head(200)

,County,Years,FIPS,Deaths,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Driving_Deaths_Number,Uninsured_Number,Mental_Health_Provider_Ratio,population
0,Albany,2016.5,36001.0,3081.000000,12.916667,8.166667,6.008333,95.666667,15828.916667,0.002971,314848
1,Allegany,2016.5,36003.0,561.416667,15.500000,6.833333,6.150000,24.583333,2833.666667,0.001483,46456
2,Bronx,2016.5,36005.0,14881.000000,26.666667,9.416667,5.491667,242.583333,144791.500000,0.001508,1472654
3,Broome,2016.5,36007.0,2321.583333,15.083333,7.750000,5.916667,68.250000,11652.000000,0.001537,198683
4,Cattaraugus,2016.5,36009.0,1064.083333,18.250000,7.333333,6.133333,44.916667,5763.833333,0.000867,77042
...,...,...,...,...,...,...,...,...,...,...,...
57,Washington,2016.5,36115.0,751.916667,15.750000,7.250000,6.308333,42.583333,4004.666667,0.002083,61302
58,Wayne,2016.5,36117.0,1092.333333,16.250000,6.583333,6.416667,54.250000,5611.833333,0.000679,91283
59,Westchester,2016.5,36119.0,7188.166667,13.166667,7.916667,6.808333,203.250000,70127.166667,0.003411,1004457
60,Wyoming,2016.5,36121.0,457.666667,14.750000,5.750000,6.233333,23.666667,2384.833333,0.001542,40531
61,Yates,2019.0,36123.0,297.857143,14.428571,4.714286,8.757143,14.857143,1929.714286,0.001054,24774

In [13]:
#Create deaths as raio.

merged_pop_df.dtypes

County                           object
Years                           float64
FIPS                            float64
Deaths                          float64
Fair_or_Poor_Health_Percent     float64
Low_birthweight_Percent         float64
Food_Environment_Index          float64
Driving_Deaths_Number           float64
Uninsured_Number                float64
Mental_Health_Provider_Ratio    float64
population                        int64
dtype: object

In [14]:
merged_pop_df['population'] = merged_pop_df['population'].astype(float)

In [15]:
merged_pop_df.dtypes

County                           object
Years                           float64
FIPS                            float64
Deaths                          float64
Fair_or_Poor_Health_Percent     float64
Low_birthweight_Percent         float64
Food_Environment_Index          float64
Driving_Deaths_Number           float64
Uninsured_Number                float64
Mental_Health_Provider_Ratio    float64
population                      float64
dtype: object

In [16]:
merged_pop_df["Death_Ratio"]=merged_pop_df["Deaths"]/merged_pop_df["population"]
merged_pop_df["Driving_Death_Ratio"]=merged_pop_df["Driving_Deaths_Number"]/merged_pop_df["population"]
merged_pop_df["Uninsured_Ratio"]=merged_pop_df["Uninsured_Number"]/merged_pop_df["population"]

In [17]:
merged_pop_df.head()

,County,Years,FIPS,Deaths,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Driving_Deaths_Number,Uninsured_Number,Mental_Health_Provider_Ratio,population,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,2016.5,36001.0,3081.000000,12.916667,8.166667,6.008333,95.666667,15828.916667,0.002971,314848.0,0.009786,0.000304,0.050275
1,Allegany,2016.5,36003.0,561.416667,15.500000,6.833333,6.150000,24.583333,2833.666667,0.001483,46456.0,0.012085,0.000529,0.060997
2,Bronx,2016.5,36005.0,14881.000000,26.666667,9.416667,5.491667,242.583333,144791.500000,0.001508,1472654.0,0.010105,0.000165,0.098320
3,Broome,2016.5,36007.0,2321.583333,15.083333,7.750000,5.916667,68.250000,11652.000000,0.001537,198683.0,0.011685,0.000344,0.058646
4,Cattaraugus,2016.5,36009.0,1064.083333,18.250000,7.333333,6.133333,44.916667,5763.833333,0.000867,77042.0,0.013812,0.000583,0.074814

In [18]:
#clean up reformatted data
merged_pop_df.drop(["Deaths", "Driving_Deaths_Number", "Uninsured_Number", "population"], axis=1, inplace=True)

#remove unnecessary additional data
merged_pop_df.drop(["Years","FIPS"], axis=1, inplace=True)

In [19]:
merged_pop_df.head()

,County,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,12.916667,8.166667,6.008333,0.002971,0.009786,0.000304,0.050275
1,Allegany,15.500000,6.833333,6.150000,0.001483,0.012085,0.000529,0.060997
2,Bronx,26.666667,9.416667,5.491667,0.001508,0.010105,0.000165,0.098320
3,Broome,15.083333,7.750000,5.916667,0.001537,0.011685,0.000344,0.058646
4,Cattaraugus,18.250000,7.333333,6.133333,0.000867,0.013812,0.000583,0.074814

In [20]:
merged_pop_df.to_csv("merged_pop_df.csv")

In [21]:
merged_pop_df['Death_Ratio']=merged_pop_df['Death_Ratio']*1000

In [22]:
merged_pop_df.head()

,County,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,12.916667,8.166667,6.008333,0.002971,9.785674,0.000304,0.050275
1,Allegany,15.500000,6.833333,6.150000,0.001483,12.084912,0.000529,0.060997
2,Bronx,26.666667,9.416667,5.491667,0.001508,10.104885,0.000165,0.098320
3,Broome,15.083333,7.750000,5.916667,0.001537,11.684861,0.000344,0.058646
4,Cattaraugus,18.250000,7.333333,6.133333,0.000867,13.811730,0.000583,0.074814

In [23]:
merged_pop_df['Mental_Health_Provider_Ratio']=merged_pop_df['Mental_Health_Provider_Ratio']*1000

In [24]:
merged_pop_df.head()

,County,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,12.916667,8.166667,6.008333,2.970883,9.785674,0.000304,0.050275
1,Allegany,15.500000,6.833333,6.150000,1.483181,12.084912,0.000529,0.060997
2,Bronx,26.666667,9.416667,5.491667,1.508115,10.104885,0.000165,0.098320
3,Broome,15.083333,7.750000,5.916667,1.537396,11.684861,0.000344,0.058646
4,Cattaraugus,18.250000,7.333333,6.133333,0.866531,13.811730,0.000583,0.074814

In [25]:
merged_pop_df['Driving_Death_Ratio']=merged_pop_df['Driving_Death_Ratio']*1000
merged_pop_df['Uninsured_Ratio']=merged_pop_df['Uninsured_Ratio']*1000
merged_pop_df.head()

,County,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,12.916667,8.166667,6.008333,2.970883,9.785674,0.303850,50.274789
1,Allegany,15.500000,6.833333,6.150000,1.483181,12.084912,0.529175,60.996785
2,Bronx,26.666667,9.416667,5.491667,1.508115,10.104885,0.164725,98.320108
3,Broome,15.083333,7.750000,5.916667,1.537396,11.684861,0.343512,58.646185
4,Cattaraugus,18.250000,7.333333,6.133333,0.866531,13.811730,0.583015,74.814171

In [26]:
merged_pop_df.to_csv("merged_pop_df_scaled_counties.csv")

In [27]:
merged_pop_df.drop(["County"], axis=1, inplace=True)
merged_pop_df.head()

,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,12.916667,8.166667,6.008333,2.970883,9.785674,0.303850,50.274789
1,15.500000,6.833333,6.150000,1.483181,12.084912,0.529175,60.996785
2,26.666667,9.416667,5.491667,1.508115,10.104885,0.164725,98.320108
3,15.083333,7.750000,5.916667,1.537396,11.684861,0.343512,58.646185
4,18.250000,7.333333,6.133333,0.866531,13.811730,0.583015,74.814171

In [28]:
merged_pop_df.to_csv("merged_pop_df_scaled.csv")

In [29]:
merged_pop_df.dtypes

Fair_or_Poor_Health_Percent     float64
Low_birthweight_Percent         float64
Food_Environment_Index          float64
Mental_Health_Provider_Ratio    float64
Death_Ratio                     float64
Driving_Death_Ratio             float64
Uninsured_Ratio                 float64
dtype: object

In [30]:
## CR CODE ENDS HERE........ CSV is exported at this point.