In [1]:
import pandas as pd

In [2]:
# Reading in Data
df = pd.read_csv('2017_County_Health_Rankings_New_York_Data.csv')
print(df)

     FIPS     State       County  Deaths  Years of Potential Life Lost Rate  \
0   36000  New York          NaN  180891                               5339
1   36001  New York       Albany    2996                               5788
2   36003  New York     Allegany     539                               6212
3   36005  New York        Bronx   14187                               6720
4   36007  New York       Broome    2312                               6895
..    ...       ...          ...     ...                                ...
58  36115  New York   Washington     722                               5934
59  36117  New York        Wayne    1016                               6025
60  36119  New York  Westchester    7086                               4210
61  36121  New York      Wyoming     463                               6520
62  36123  New York        Yates     282                               5795

    95% CI - Low  95% CI - High  Z-Score  % Fair or Poor Health  \
0           5303           5375      NaN                     16
1           5461           6116    -0.27                     12
2           5360           7063     0.19                     14
3           6576           6863     0.74                     28
4           6462           7329     0.93                     14
..           ...            ...      ...                    ...
58          5226           6641    -0.11                     13
59          5433           6616    -0.01                     12
60          4060           4361    -1.98                     14
61          5550           7491     0.53                     13
62          4689           6901    -0.26                     13

    95% CI - Low.1  ...  95% CI - High.20  Z-Score.33  % Drive Alone - Black  \
0               15  ...              53.0         NaN                    NaN
1               12  ...              79.0        0.24                   59.0
2               13  ...              76.0        0.01                   27.0
3               27  ...              23.0       -3.30                   34.0
4               14  ...              81.0        0.33                   54.0
..             ...  ...               ...         ...                    ...
58              12  ...              81.0        0.32                    NaN
59              12  ...              86.0        0.67                   79.0
60              13  ...              59.0       -1.00                   55.0
61              12  ...              84.0        0.54                    NaN
62              13  ...              74.0       -0.23                    NaN

    % Drive Alone - Hispanic  % Drive Alone - White  \
0                        NaN                    NaN
1                       62.0                    NaN
2                       38.0                   74.0
3                       26.0                   59.0
4                       60.0                   83.0
..                       ...                    ...
58                       NaN                   77.0
59                      74.0                   83.0
60                      52.0                   79.0
61                       NaN                   82.0
62                       NaN                   68.0

    # Workers who Drive Alone  % Long Commute - Drives Alone  95% CI - Low.21  \
0                     4825249                             36               36
1                      118860                             20               19
2                       14712                             30               27
3                      123500                             50               48
4                       68921                             15               14
..                        ...                            ...              ...
58                      22167                             38               35
59                      35801                             37               34
60                     265957                             40               39
61                      14990                             38               35
62                       7857                             32               27

    95% CI - High.21  Z-Score.34
0                 37         NaN
1                 21       -1.30
2                 32       -0.36
3                 52        1.57
4                 16       -1.73
..               ...         ...
58                41        0.40
59                39        0.30
60                40        0.57
61                41        0.44
62                36       -0.18

[63 rows x 162 columns]

In [3]:
#Select the columns that we want
select_df = df[['FIPS', 'County','Deaths','% Fair or Poor Health','% Low birthweight','Food Environment Index','# Driving Deaths','# Uninsured','MHP Ratio']]
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
0,36000,NaN,180891,16,8,8.0,5710,1654986,417:01:00
1,36001,Albany,2996,12,9,7.7,97,18101,331:01:00
2,36003,Allegany,539,14,7,8.1,18,3028,572:01:00
3,36005,Bronx,14187,28,10,7.1,243,173351,607:01:00
4,36007,Broome,2312,14,8,7.6,68,11189,548:01:00
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,722,13,8,8.2,46,4281,864:01:00
59,36117,Wayne,1016,12,7,8.4,53,5989,1253:01:00
60,36119,Westchester,7086,14,8,9.0,192,81967,301:01:00
61,36121,Wyoming,463,13,6,8.1,23,2263,612:01:00
62,36123,Yates,282,13,5,8.6,22,2449,1089:01:00

In [4]:
# Removing the first row that was NaN 
select_df = select_df.drop(labels=0, axis=0)
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,36001,Albany,2996,12,9,7.7,97,18101,331:01:00
2,36003,Allegany,539,14,7,8.1,18,3028,572:01:00
3,36005,Bronx,14187,28,10,7.1,243,173351,607:01:00
4,36007,Broome,2312,14,8,7.6,68,11189,548:01:00
5,36009,Cattaraugus,1015,15,8,8.0,40,6023,1025:01:00
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,722,13,8,8.2,46,4281,864:01:00
59,36117,Wayne,1016,12,7,8.4,53,5989,1253:01:00
60,36119,Westchester,7086,14,8,9.0,192,81967,301:01:00
61,36121,Wyoming,463,13,6,8.1,23,2263,612:01:00
62,36123,Yates,282,13,5,8.6,22,2449,1089:01:00

In [5]:
# The the year for the dataset
select_df["Years"] = "2017"
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio,Years
1,36001,Albany,2996,12,9,7.7,97,18101,331:01:00,2017
2,36003,Allegany,539,14,7,8.1,18,3028,572:01:00,2017
3,36005,Bronx,14187,28,10,7.1,243,173351,607:01:00,2017
4,36007,Broome,2312,14,8,7.6,68,11189,548:01:00,2017
5,36009,Cattaraugus,1015,15,8,8.0,40,6023,1025:01:00,2017
...,...,...,...,...,...,...,...,...,...,...
58,36115,Washington,722,13,8,8.2,46,4281,864:01:00,2017
59,36117,Wayne,1016,12,7,8.4,53,5989,1253:01:00,2017
60,36119,Westchester,7086,14,8,9.0,192,81967,301:01:00,2017
61,36121,Wyoming,463,13,6,8.1,23,2263,612:01:00,2017
62,36123,Yates,282,13,5,8.6,22,2449,1089:01:00,2017

In [6]:
# Reorganizing the dataset
clean_data = select_df[['Years','FIPS', 'County','Deaths','% Fair or Poor Health','% Low birthweight','Food Environment Index','# Driving Deaths','# Uninsured','MHP Ratio']]
clean_data

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,2017,36001,Albany,2996,12,9,7.7,97,18101,331:01:00
2,2017,36003,Allegany,539,14,7,8.1,18,3028,572:01:00
3,2017,36005,Bronx,14187,28,10,7.1,243,173351,607:01:00
4,2017,36007,Broome,2312,14,8,7.6,68,11189,548:01:00
5,2017,36009,Cattaraugus,1015,15,8,8.0,40,6023,1025:01:00
...,...,...,...,...,...,...,...,...,...,...
58,2017,36115,Washington,722,13,8,8.2,46,4281,864:01:00
59,2017,36117,Wayne,1016,12,7,8.4,53,5989,1253:01:00
60,2017,36119,Westchester,7086,14,8,9.0,192,81967,301:01:00
61,2017,36121,Wyoming,463,13,6,8.1,23,2263,612:01:00
62,2017,36123,Yates,282,13,5,8.6,22,2449,1089:01:00

In [7]:
clean_data.dtypes

Years                      object
FIPS                        int64
County                     object
Deaths                      int64
% Fair or Poor Health       int64
% Low birthweight           int64
Food Environment Index    float64
# Driving Deaths            int64
# Uninsured                 int64
MHP Ratio                  object
dtype: object

In [8]:
# Spliting the Mental Health Provider Ratio 
changing = clean_data['MHP Ratio'].str.split(':', expand=True)
changing.dtypes

0    object
1    object
2    object
dtype: object

In [9]:
# Converting the string into int
changing = changing.astype('int')

In [10]:
# Changing the Mental Health Provider Ratio into a int value
clean_data['MHP Ratio'] = changing[1]/changing[0]
clean_data

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,2017,36001,Albany,2996,12,9,7.7,97,18101,0.003021
2,2017,36003,Allegany,539,14,7,8.1,18,3028,0.001748
3,2017,36005,Bronx,14187,28,10,7.1,243,173351,0.001647
4,2017,36007,Broome,2312,14,8,7.6,68,11189,0.001825
5,2017,36009,Cattaraugus,1015,15,8,8.0,40,6023,0.000976
...,...,...,...,...,...,...,...,...,...,...
58,2017,36115,Washington,722,13,8,8.2,46,4281,0.001157
59,2017,36117,Wayne,1016,12,7,8.4,53,5989,0.000798
60,2017,36119,Westchester,7086,14,8,9.0,192,81967,0.003322
61,2017,36121,Wyoming,463,13,6,8.1,23,2263,0.001634
62,2017,36123,Yates,282,13,5,8.6,22,2449,0.000918

In [11]:
# Saving the new and cleaned dataset
file_path = "2017_County_Health_Rankings_New_York_Data_Cleaned.csv"
clean_data.to_csv(file_path, index=False )