In [1]:
import pandas as pd

In [2]:
# Reading in Data
df = pd.read_csv('2019_County_Health_Rankings_New_York_Data.csv')
print(df)

     FIPS     State       County  Years of Potential Life Lost Rate  \
0   36000  New York          NaN                             5428.0
1   36001  New York       Albany                             5690.0
2   36003  New York     Allegany                             6617.0
3   36005  New York        Bronx                             6651.0
4   36007  New York       Broome                             7609.0
..    ...       ...          ...                                ...
58  36115  New York   Washington                             6609.0
59  36117  New York        Wayne                             7112.0
60  36119  New York  Westchester                             4144.0
61  36121  New York      Wyoming                             6255.0
62  36123  New York        Yates                             6583.0

    95% CI - Low  95% CI - High  Z-Score  YPLL Rate (Black)  \
0         5391.0         5464.0      NaN                NaN
1         5381.0         6000.0    -0.69             8850.0
2         5763.0         7472.0     0.24                NaN
3         6509.0         6792.0     0.27             8212.0
4         7139.0         8079.0     1.22            10722.0
..           ...            ...      ...                ...
58        5834.0         7384.0     0.23                NaN
59        6444.0         7780.0     0.73            16977.0
60        3997.0         4292.0    -2.22             6856.0
61        5388.0         7123.0    -0.12                NaN
62        5335.0         7832.0     0.20                NaN

    YPLL Rate (Hispanic)  YPLL Rate (White)  ...  95% CI - High.17  \
0                    NaN                NaN  ...                53
1                 5100.0             5492.0  ...                78
2                    NaN                NaN  ...                77
3                 5524.0             7749.0  ...                24
4                 6967.0             7600.0  ...                81
..                   ...                ...  ...               ...
58                   NaN                NaN  ...                83
59                   NaN             6956.0  ...                86
60                3039.0             4056.0  ...                58
61                   NaN                NaN  ...                85
62                   NaN                NaN  ...                71

    Z-Score.33  % Drive Alone (Black)  % Drive Alone (Hispanic)  \
0          NaN                    NaN                       NaN
1         0.16                   59.0                      63.0
2         0.03                   14.0                      30.0
3        -3.26                   34.0                      27.0
4         0.38                   57.0                      59.0
..         ...                    ...                       ...
58        0.44                    NaN                       NaN
59        0.64                   68.0                      75.0
60       -1.07                   55.0                      54.0
61        0.58                    NaN                       NaN
62       -0.43                    NaN                       NaN

    % Drive Alone (White)  # Workers who Drive Alone  \
0                     NaN                    4906304
1                    84.0                     120111
2                    74.0                      14785
3                    59.0                     132665
4                    84.0                      68730
..                    ...                        ...
58                    NaN                      22782
59                   83.0                      35839
60                   78.0                     269784
61                    NaN                      15007
62                    NaN                       7478

    % Long Commute - Drives Alone  95% CI - Low.18  95% CI - High.18  \
0                              38               37                38
1                              21               20                22
2                              29               27                31
3                              52               51                54
4                              15               14                16
..                            ...              ...               ...
58                             38               35                41
59                             39               37                41
60                             41               40                42
61                             38               35                41
62                             31               28                34

    Z-Score.34
0          NaN
1        -1.21
2        -0.44
3         1.65
4        -1.76
..         ...
58        0.33
59        0.42
60        0.60
61        0.33
62       -0.29

[63 rows x 162 columns]

In [3]:
#Select the columns that we want
select_df = df[['FIPS', 'County','% Fair/Poor','% LBW','Food Environment Index','# Driving Deaths','# Uninsured','MHP Ratio']]
select_df

,FIPS,County,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
0,36000,NaN,16,8,9.1,5419,1151995,374:01:00
1,36001,Albany,13,8,8.1,100,10741,299:01:00
2,36003,Allegany,15,7,8.2,18,1936,521:01:00
3,36005,Bronx,27,9,7.8,216,116497,536:01:00
4,36007,Broome,17,8,8.1,66,8158,519:01:00
...,...,...,...,...,...,...,...,...
58,36115,Washington,14,7,8.4,37,2636,734:01:00
59,36117,Wayne,16,7,8.6,54,3992,1067:01:00
60,36119,Westchester,14,8,9.2,199,61342,275:01:00
61,36121,Wyoming,16,6,8.3,22,1632,500:01:00
62,36123,Yates,13,5,8.9,10,1816,924:01:00

In [4]:
# Removing the first row that was NaN 
select_df = select_df.drop(labels=0, axis=0)
select_df

,FIPS,County,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,36001,Albany,13,8,8.1,100,10741,299:01:00
2,36003,Allegany,15,7,8.2,18,1936,521:01:00
3,36005,Bronx,27,9,7.8,216,116497,536:01:00
4,36007,Broome,17,8,8.1,66,8158,519:01:00
5,36009,Cattaraugus,19,8,8.2,38,4441,899:01:00
...,...,...,...,...,...,...,...,...
58,36115,Washington,14,7,8.4,37,2636,734:01:00
59,36117,Wayne,16,7,8.6,54,3992,1067:01:00
60,36119,Westchester,14,8,9.2,199,61342,275:01:00
61,36121,Wyoming,16,6,8.3,22,1632,500:01:00
62,36123,Yates,13,5,8.9,10,1816,924:01:00

In [5]:
# The the year for the dataset
select_df["Years"] = "2019"
select_df

,FIPS,County,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio,Years
1,36001,Albany,13,8,8.1,100,10741,299:01:00,2019
2,36003,Allegany,15,7,8.2,18,1936,521:01:00,2019
3,36005,Bronx,27,9,7.8,216,116497,536:01:00,2019
4,36007,Broome,17,8,8.1,66,8158,519:01:00,2019
5,36009,Cattaraugus,19,8,8.2,38,4441,899:01:00,2019
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,14,7,8.4,37,2636,734:01:00,2019
59,36117,Wayne,16,7,8.6,54,3992,1067:01:00,2019
60,36119,Westchester,14,8,9.2,199,61342,275:01:00,2019
61,36121,Wyoming,16,6,8.3,22,1632,500:01:00,2019
62,36123,Yates,13,5,8.9,10,1816,924:01:00,2019

In [6]:
# Reorganizing the dataset
clean_data = select_df[['Years','FIPS', 'County','% Fair/Poor','% LBW','Food Environment Index','# Driving Deaths','# Uninsured','MHP Ratio']]
clean_data

,Years,FIPS,County,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,2019,36001,Albany,13,8,8.1,100,10741,299:01:00
2,2019,36003,Allegany,15,7,8.2,18,1936,521:01:00
3,2019,36005,Bronx,27,9,7.8,216,116497,536:01:00
4,2019,36007,Broome,17,8,8.1,66,8158,519:01:00
5,2019,36009,Cattaraugus,19,8,8.2,38,4441,899:01:00
...,...,...,...,...,...,...,...,...,...
58,2019,36115,Washington,14,7,8.4,37,2636,734:01:00
59,2019,36117,Wayne,16,7,8.6,54,3992,1067:01:00
60,2019,36119,Westchester,14,8,9.2,199,61342,275:01:00
61,2019,36121,Wyoming,16,6,8.3,22,1632,500:01:00
62,2019,36123,Yates,13,5,8.9,10,1816,924:01:00

In [7]:
clean_data.dtypes

Years                      object
FIPS                        int64
County                     object
% Fair/Poor                 int64
% LBW                       int64
Food Environment Index    float64
# Driving Deaths            int64
# Uninsured                 int64
MHP Ratio                  object
dtype: object

In [8]:
# Spliting the Mental Health Provider Ratio 
changing = clean_data['MHP Ratio'].str.split(':', expand=True)
changing.dtypes

0    object
1    object
2    object
dtype: object

In [9]:
# Converting the string into int
changing = changing.astype('int')

In [10]:
# Changing the Mental Health Provider Ratio into a int value
clean_data['MHP Ratio'] = changing[1]/changing[0]
clean_data

,Years,FIPS,County,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,2019,36001,Albany,13,8,8.1,100,10741,0.003344
2,2019,36003,Allegany,15,7,8.2,18,1936,0.001919
3,2019,36005,Bronx,27,9,7.8,216,116497,0.001866
4,2019,36007,Broome,17,8,8.1,66,8158,0.001927
5,2019,36009,Cattaraugus,19,8,8.2,38,4441,0.001112
...,...,...,...,...,...,...,...,...,...
58,2019,36115,Washington,14,7,8.4,37,2636,0.001362
59,2019,36117,Wayne,16,7,8.6,54,3992,0.000937
60,2019,36119,Westchester,14,8,9.2,199,61342,0.003636
61,2019,36121,Wyoming,16,6,8.3,22,1632,0.002000
62,2019,36123,Yates,13,5,8.9,10,1816,0.001082

In [11]:
# Saving the new and cleaned dataset
file_path = "2019_County_Health_Rankings_New_York_Data_Cleaned.csv"
clean_data.to_csv(file_path, index=False )