In [1]:
import pandas as pd
import glob
import os

In [2]:
# Select the path to all datasets with the name "_clean_dataset.csv"
files = os.path.join("cleaning_code/csv_data/", "*_clean_dataset.csv")

In [3]:
files = glob.glob(files)

In [4]:
# Merge all the datasets together
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
df

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,2011,36001.0,Albany,2948.0,12.0,8.0,0.0,0.0,0.0,0.002985
1,2011,36003.0,Allegany,565.0,16.0,6.7,0.0,0.0,0.0,0.000243
2,2011,36005.0,Bronx,14630.0,26.0,9.7,0.0,0.0,0.0,0.000957
3,2011,36007.0,Broome,2243.0,13.0,7.6,0.0,0.0,0.0,0.000262
4,2011,36009.0,Cattaraugus,1007.0,20.0,6.9,0.0,0.0,0.0,0.000075
...,...,...,...,...,...,...,...,...,...,...
725,2022,36115.0,Washington,882.0,18.0,7.0,8.5,29.0,2344.0,0.001502
726,2022,36117.0,Wayne,1248.0,17.0,7.0,8.6,56.0,3067.0,0.001130
727,2022,36119.0,Westchester,8329.0,16.0,8.0,9.3,163.0,45099.0,0.004274
728,2022,36121.0,Wyoming,498.0,18.0,7.0,8.4,19.0,1289.0,0.002304
729,2022,36123.0,Yates,339.0,18.0,4.0,8.9,10.0,1520.0,0.001171

In [5]:
# Check if the columns have any NaN
df.isnull().sum()

Years                           0
FIPS                            0
County                          0
Deaths                          3
% Fair or Poor Health           0
% Low birthweight               0
Food Environment Index          0
# Driving Deaths                0
# Uninsured                     0
Mental Health Provider Ratio    0
dtype: int64

In [6]:
# Convert all the NaN into 0
df = df.fillna(0)

In [7]:
# Checking if there are any NaN left
df.isnull().sum()

Years                           0
FIPS                            0
County                          0
Deaths                          0
% Fair or Poor Health           0
% Low birthweight               0
Food Environment Index          0
# Driving Deaths                0
# Uninsured                     0
Mental Health Provider Ratio    0
dtype: int64

In [8]:
# Checking the dtypes of the dataset 
df.dtypes

Years                             int64
FIPS                            float64
County                           object
Deaths                          float64
% Fair or Poor Health           float64
% Low birthweight               float64
Food Environment Index          float64
# Driving Deaths                float64
# Uninsured                     float64
Mental Health Provider Ratio    float64
dtype: object

In [9]:
# Chaning selected columns from float to int
df = df.astype({"FIPS":"int",
                        "Years":"int",
                        "Deaths":"int",
                        "% Fair or Poor Health":"int",
                        "% Low birthweight":"int",
                        "# Driving Deaths":"int",
                        "# Uninsured":"int"})
df.dtypes

Years                             int32
FIPS                              int32
County                           object
Deaths                            int32
% Fair or Poor Health             int32
% Low birthweight                 int32
Food Environment Index          float64
# Driving Deaths                  int32
# Uninsured                       int32
Mental Health Provider Ratio    float64
dtype: object

In [10]:
# Testing the dataset
df[df['County'] == 'Albany']

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,2011,36001,Albany,2948,12,8,0.0,0,0,0.002985
59,2012,36001,Albany,2859,12,8,0.0,143,23381,0.002985
118,2013,36001,Albany,2886,13,8,0.0,148,25221,0.000998
176,2014,36001,Albany,2886,13,8,8.0,92,22962,0.002252
236,2015,36001,Albany,2947,13,8,7.9,87,23634,0.002710
296,2016,36001,Albany,3013,12,9,7.7,91,21914,0.002882
358,2017,36001,Albany,2996,12,9,7.7,97,18101,0.003021
420,2018,36001,Albany,3047,13,8,8.0,99,13476,0.003155
482,2019,36001,Albany,3202,13,8,8.1,100,10741,0.003344
544,2020,36001,Albany,3307,14,8,8.0,105,10808,0.003559
606,2021,36001,Albany,3336,13,8,8.4,95,10070,0.003759
668,2022,36001,Albany,3545,15,8,8.3,91,9639,0.004000

In [11]:
df[df['Deaths'] == 0]

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
564,2020,36041,Hamilton,0,14,5,7.7,1,210,0.000677
626,2021,36041,Hamilton,0,17,6,7.4,4,191,0.000679
688,2022,36041,Hamilton,0,20,6,7.1,4,218,0.000691

In [12]:
deaths = df['# Driving Deaths'].sum()
deaths

69828

In [13]:
# Saving the new and cleaned dataset
file_path = "complete_dataset.csv"
df.to_csv(file_path, index=False )