In [1]:
import pandas as pd

In [2]:
# Reading in Data
df = pd.read_csv('csv_data/2018_County_Health_Rankings_New_York_Data.csv')
df

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,Z-Score.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Z-Score.34,Deaths
0,36000,New York,NaN,5312,5277,5348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4849630,37,37,37,NaN,186651
1,36001,New York,Albany,5651,5332,5969,-0.42,9556.0,4410.0,5280.0,...,0.19,58.0,62.0,84.0,118650,20,19,21,-1.26,3047
2,36003,New York,Allegany,5801,5006,6596,-0.26,NaN,NaN,NaN,...,0.04,26.0,39.0,74.0,14883,29,27,32,-0.39,541
3,36005,New York,Bronx,6651,6509,6793,0.63,8437.0,5790.0,7593.0,...,-3.29,34.0,27.0,60.0,127241,51,49,53,1.60,14696
4,36007,New York,Broome,7047,6610,7483,1.05,10099.0,6684.0,7189.0,...,0.35,55.0,60.0,84.0,69293,15,13,16,-1.76,2395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,36115,New York,Washington,5467,4810,6123,-0.61,NaN,NaN,NaN,...,0.35,NaN,NaN,NaN,22463,38,35,41,0.39,771
59,36117,New York,Wayne,6262,5659,6866,0.23,9955.0,6202.0,6146.0,...,0.64,72.0,74.0,83.0,35669,38,36,40,0.42,1146
60,36119,New York,Westchester,4094,3947,4240,-2.05,6894.0,3274.0,3914.0,...,-1.04,55.0,53.0,79.0,266728,40,39,41,0.56,7149
61,36121,New York,Wyoming,6734,5755,7712,0.72,NaN,NaN,NaN,...,0.55,NaN,NaN,NaN,14965,39,37,42,0.53,504
62,36123,New York,Yates,5319,4273,6365,-0.77,NaN,NaN,NaN,...,-0.38,NaN,NaN,NaN,7498,31,27,35,-0.24,277

In [3]:
#Select the columns that we want
select_df = df[['FIPS', 'County','Deaths','% Fair/Poor','% LBW','Food Environment Index','# Driving Deaths','# Uninsured','MHP Ratio']]
select_df

,FIPS,County,Deaths,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
0,36000,NaN,186651,16,8,9.1,5584,1351396,393:1
1,36001,Albany,3047,13,8,8.0,99,13476,317:1
2,36003,Allegany,541,15,7,8.2,21,2165,523:1
3,36005,Bronx,14696,27,9,7.9,227,139181,557:1
4,36007,Broome,2395,17,8,8.0,66,9823,535:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,771,14,8,8.3,43,3020,792:1
59,36117,Wayne,1146,16,7,8.5,56,4819,1121:1
60,36119,Westchester,7149,14,8,9.2,196,66058,286:1
61,36121,Wyoming,504,16,6,8.2,19,1863,559:1
62,36123,Yates,277,13,5,8.7,17,1863,997:1

In [4]:
# Removing the first row that was NaN 
select_df = select_df.drop(labels=0, axis=0)
select_df

,FIPS,County,Deaths,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,36001,Albany,3047,13,8,8.0,99,13476,317:1
2,36003,Allegany,541,15,7,8.2,21,2165,523:1
3,36005,Bronx,14696,27,9,7.9,227,139181,557:1
4,36007,Broome,2395,17,8,8.0,66,9823,535:1
5,36009,Cattaraugus,1043,19,8,8.1,32,4693,903:1
...,...,...,...,...,...,...,...,...,...
58,36115,Washington,771,14,8,8.3,43,3020,792:1
59,36117,Wayne,1146,16,7,8.5,56,4819,1121:1
60,36119,Westchester,7149,14,8,9.2,196,66058,286:1
61,36121,Wyoming,504,16,6,8.2,19,1863,559:1
62,36123,Yates,277,13,5,8.7,17,1863,997:1

In [5]:
# The the year for the dataset
select_df["Years"] = "2018"
select_df

,FIPS,County,Deaths,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio,Years
1,36001,Albany,3047,13,8,8.0,99,13476,317:1,2018
2,36003,Allegany,541,15,7,8.2,21,2165,523:1,2018
3,36005,Bronx,14696,27,9,7.9,227,139181,557:1,2018
4,36007,Broome,2395,17,8,8.0,66,9823,535:1,2018
5,36009,Cattaraugus,1043,19,8,8.1,32,4693,903:1,2018
...,...,...,...,...,...,...,...,...,...,...
58,36115,Washington,771,14,8,8.3,43,3020,792:1,2018
59,36117,Wayne,1146,16,7,8.5,56,4819,1121:1,2018
60,36119,Westchester,7149,14,8,9.2,196,66058,286:1,2018
61,36121,Wyoming,504,16,6,8.2,19,1863,559:1,2018
62,36123,Yates,277,13,5,8.7,17,1863,997:1,2018

In [6]:
# Reorganizing the dataset
clean_data = select_df[['Years','FIPS', 'County','Deaths','% Fair/Poor','% LBW','Food Environment Index','# Driving Deaths','# Uninsured','MHP Ratio']]
clean_data

,Years,FIPS,County,Deaths,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,2018,36001,Albany,3047,13,8,8.0,99,13476,317:1
2,2018,36003,Allegany,541,15,7,8.2,21,2165,523:1
3,2018,36005,Bronx,14696,27,9,7.9,227,139181,557:1
4,2018,36007,Broome,2395,17,8,8.0,66,9823,535:1
5,2018,36009,Cattaraugus,1043,19,8,8.1,32,4693,903:1
...,...,...,...,...,...,...,...,...,...,...
58,2018,36115,Washington,771,14,8,8.3,43,3020,792:1
59,2018,36117,Wayne,1146,16,7,8.5,56,4819,1121:1
60,2018,36119,Westchester,7149,14,8,9.2,196,66058,286:1
61,2018,36121,Wyoming,504,16,6,8.2,19,1863,559:1
62,2018,36123,Yates,277,13,5,8.7,17,1863,997:1

In [7]:
# Spliting the Mental Health Provider Ratio 
changing = clean_data['MHP Ratio'].str.split(':', expand=True)
changing.dtypes

0    object
1    object
dtype: object

In [8]:
# Converting the string into int
changing = changing.astype('int')

In [9]:
# Changing the Mental Health Provider Ratio into a int value
clean_data['MHP Ratio'] = changing[1]/changing[0]
clean_data

,Years,FIPS,County,Deaths,% Fair/Poor,% LBW,Food Environment Index,# Driving Deaths,# Uninsured,MHP Ratio
1,2018,36001,Albany,3047,13,8,8.0,99,13476,0.003155
2,2018,36003,Allegany,541,15,7,8.2,21,2165,0.001912
3,2018,36005,Bronx,14696,27,9,7.9,227,139181,0.001795
4,2018,36007,Broome,2395,17,8,8.0,66,9823,0.001869
5,2018,36009,Cattaraugus,1043,19,8,8.1,32,4693,0.001107
...,...,...,...,...,...,...,...,...,...,...
58,2018,36115,Washington,771,14,8,8.3,43,3020,0.001263
59,2018,36117,Wayne,1146,16,7,8.5,56,4819,0.000892
60,2018,36119,Westchester,7149,14,8,9.2,196,66058,0.003497
61,2018,36121,Wyoming,504,16,6,8.2,19,1863,0.001789
62,2018,36123,Yates,277,13,5,8.7,17,1863,0.001003

In [10]:
clean_data.shape

(62, 10)

In [11]:
#convert all objects to integer
df = pd.DataFrame(clean_data)
df = df.astype({"FIPS":"int",
                        "Years":"int",
                        "% Fair/Poor":"int",
                        "% LBW":"int",
                        "# Driving Deaths":"int",
                        "# Uninsured":"int"})

In [12]:
# Changing the name of the columns to match the rest
clean_data.rename(columns = {'% Fair/Poor':'% Fair or Poor Health',
                    '% LBW':'% Low birthweight',
                    'MHP Ratio':'Mental Health Provider Ratio'}, inplace=True)

In [13]:
clean_data.dtypes

Years                            object
FIPS                              int64
County                           object
Deaths                            int64
% Fair or Poor Health             int64
% Low birthweight                 int64
Food Environment Index          float64
# Driving Deaths                  int64
# Uninsured                       int64
Mental Health Provider Ratio    float64
dtype: object

In [14]:
# Saving the new and cleaned dataset
file_path = "csv_data/2018_clean_dataset.csv"
clean_data.to_csv(file_path, index=False )