In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
#Import password from config.py file
from config import db_password

In [3]:
#Create database engine
"postgresql://[user]:[password]@[location]:[port]/[database]"
#Connection string for local server
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Life_Expectancy_Analytics"

In [4]:
#Create the database engine
engine = create_engine(db_string)

In [5]:
# Reading in census population data
CP = pd.read_csv('2020_Census_Population.csv')
CP.head()

        County  population
0       Albany      314848
1     Allegany       46456
2        Bronx     1472654
3       Broome      198683
4  Cattaraugus       77042

In [6]:
# Reading in health factors data
HF = pd.read_csv('complete_dataset2.csv')
HF.head()

,Years,FIPS,County,Deaths,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Driving_Deaths_Number,Uninsured_Number,Mental_Health_Provider_Ratio
0,2011,36001,Albany,2948,12,8,0.0,0,0,0.002985
1,2011,36003,Allegany,565,16,6,0.0,0,0,0.000243
2,2011,36005,Bronx,14630,26,9,0.0,0,0,0.000957
3,2011,36007,Broome,2243,13,7,0.0,0,0,0.000262
4,2011,36009,Cattaraugus,1007,20,6,0.0,0,0,0.000075

In [7]:
# Reading in Population to Factors Ratios
PFR = pd.read_csv('merged_pop_df.csv')
PFR.head()

,Unnamed: 0,County,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,0,Albany,12.916667,8.166667,6.008333,0.002971,0.009786,0.000304,0.050275
1,1,Allegany,15.500000,6.833333,6.150000,0.001483,0.012085,0.000529,0.060997
2,2,Bronx,26.666667,9.416667,5.491667,0.001508,0.010105,0.000165,0.098320
3,3,Broome,15.083333,7.750000,5.916667,0.001537,0.011685,0.000344,0.058646
4,4,Cattaraugus,18.250000,7.333333,6.133333,0.000867,0.013812,0.000583,0.074814

In [8]:
# Merge the Census data with Population to Factors Ratios
CPR= pd.merge(CP, PFR, 
                   on='County', 
                   how='inner')
CPR.head()

,County,population,Unnamed: 0,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,314848,0,12.916667,8.166667,6.008333,0.002971,0.009786,0.000304,0.050275
1,Allegany,46456,1,15.500000,6.833333,6.150000,0.001483,0.012085,0.000529,0.060997
2,Bronx,1472654,2,26.666667,9.416667,5.491667,0.001508,0.010105,0.000165,0.098320
3,Broome,198683,3,15.083333,7.750000,5.916667,0.001537,0.011685,0.000344,0.058646
4,Cattaraugus,77042,4,18.250000,7.333333,6.133333,0.000867,0.013812,0.000583,0.074814

In [9]:
clean_CPR = CPR[['County','population','Fair_or_Poor_Health_Percent','Low_birthweight_Percent','Food_Environment_Index','Mental_Health_Provider_Ratio','Death_Ratio','Driving_Death_Ratio','Uninsured_Ratio']]
clean_CPR.head()

,County,population,Fair_or_Poor_Health_Percent,Low_birthweight_Percent,Food_Environment_Index,Mental_Health_Provider_Ratio,Death_Ratio,Driving_Death_Ratio,Uninsured_Ratio
0,Albany,314848,12.916667,8.166667,6.008333,0.002971,0.009786,0.000304,0.050275
1,Allegany,46456,15.500000,6.833333,6.150000,0.001483,0.012085,0.000529,0.060997
2,Bronx,1472654,26.666667,9.416667,5.491667,0.001508,0.010105,0.000165,0.098320
3,Broome,198683,15.083333,7.750000,5.916667,0.001537,0.011685,0.000344,0.058646
4,Cattaraugus,77042,18.250000,7.333333,6.133333,0.000867,0.013812,0.000583,0.074814