In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading in Data
df = pd.read_csv('2016_County_Health_Rankings_NewYork_Data.csv')
df

,FIPS,State,County,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,% Fair or Poor Health,95% CI - Low.1,...,% Drive Alone,95% CI - Low.20,95% CI - High.20,Z-Score.33,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Z-Score.34,Unnamed: 156
0,36000.0,New York,NaN,179333.0,5408.0,5372.0,5445.0,NaN,17.0,16.0,...,54.0,53.0,54.0,NaN,4796959.0,36.0,36.0,36.0,NaN,NaN
1,36001.0,New York,Albany,3013.0,5897.0,5564.0,6230.0,-0.19,12.0,12.0,...,78.0,77.0,79.0,0.25,118380.0,20.0,19.0,20.0,-1.29,NaN
2,36003.0,New York,Allegany,539.0,6700.0,5813.0,7586.0,0.70,14.0,13.0,...,73.0,72.0,75.0,-0.06,14564.0,30.0,28.0,32.0,-0.30,NaN
3,36005.0,New York,Bronx,14174.0,6929.0,6783.0,7076.0,0.96,29.0,28.0,...,23.0,22.0,23.0,-3.30,120941.0,50.0,48.0,52.0,1.58,NaN
4,36007.0,New York,Broome,2298.0,6941.0,6506.0,7376.0,0.97,14.0,13.0,...,79.0,78.0,80.0,0.30,68183.0,14.0,13.0,15.0,-1.80,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,36119.0,New York,Westchester,7013.0,4280.0,4129.0,4431.0,-1.98,13.0,13.0,...,59.0,59.0,60.0,-0.96,267025.0,39.0,38.0,40.0,0.55,NaN
61,36121.0,New York,Wyoming,447.0,5789.0,4911.0,6667.0,-0.31,12.0,12.0,...,83.0,81.0,85.0,0.55,15121.0,38.0,35.0,41.0,0.48,NaN
62,36123.0,New York,Yates,267.0,5898.0,4745.0,7051.0,-0.19,13.0,13.0,...,71.0,68.0,74.0,-0.21,8048.0,32.0,28.0,36.0,-0.13,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Selecting the columns we only want
select_df = df[['FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
0,36000.0,NaN,179333.0,17.0,8.0,7.9,5790.0,2037979.0,440:1
1,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,347:1
2,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,589:1
3,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,670:1
4,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,570:1
...,...,...,...,...,...,...,...,...,...
60,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,314:1
61,36121.0,Wyoming,447.0,12.0,6.0,8.0,22.0,3018.0,675:1
62,36123.0,Yates,267.0,13.0,5.0,8.5,23.0,2703.0,1200:1
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Removing the first row that was NaN 
select_df = select_df.drop(labels=0, axis=0)
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,347:1
2,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,589:1
3,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,670:1
4,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,570:1
5,36009.0,Cattaraugus,1035.0,14.0,7.0,7.9,51.0,7397.0,1077:1
...,...,...,...,...,...,...,...,...,...
60,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,314:1
61,36121.0,Wyoming,447.0,12.0,6.0,8.0,22.0,3018.0,675:1
62,36123.0,Yates,267.0,13.0,5.0,8.5,23.0,2703.0,1200:1
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Removing the first row that was NaN 
select_df = select_df.dropna(how='all')
select_df

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,347:1
2,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,589:1
3,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,670:1
4,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,570:1
5,36009.0,Cattaraugus,1035.0,14.0,7.0,7.9,51.0,7397.0,1077:1
...,...,...,...,...,...,...,...,...,...
58,36115.0,Washington,743.0,12.0,8.0,8.1,47.0,5403.0,917:1
59,36117.0,Wayne,1019.0,12.0,7.0,8.3,48.0,7779.0,1261:1
60,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,314:1
61,36121.0,Wyoming,447.0,12.0,6.0,8.0,22.0,3018.0,675:1
62,36123.0,Yates,267.0,13.0,5.0,8.5,23.0,2703.0,1200:1

In [6]:
select_df.head(60)

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,347:1
2,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,589:1
3,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,670:1
4,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,570:1
5,36009.0,Cattaraugus,1035.0,14.0,7.0,7.9,51.0,7397.0,1077:1
6,36011.0,Cayuga,854.0,12.0,7.0,8.2,32.0,6503.0,704:1
7,36013.0,Chautauqua,1643.0,14.0,8.0,7.7,66.0,11224.0,831:1
8,36015.0,Chemung,1076.0,13.0,8.0,7.4,42.0,5948.0,464:1
9,36017.0,Chenango,639.0,13.0,7.0,8.3,38.0,3961.0,595:1
10,36019.0,Clinton,883.0,13.0,7.0,7.3,41.0,6397.0,559:1
11,36021.0,Columbia,765.0,12.0,7.0,8.2,32.0,5318.0,758:1
12,36023.0,Cortland,569.0,12.0,7.0,7.9,23.0,3461.0,399:1
13,36025.0,Delaware,670.0,12.0,7.0,8.3,43.0,4240.0,991:1
14,36027.0,Dutchess,2850.0,13.0,7.0,8.2,108.0,22181.0,440:1
15,36029.0,Erie,10724.0,14.0,8.0,7.5,263.0,62930.0,470:1
16,36031.0,Essex,472.0,12.0,9.0,8.1,30.0,3192.0,744:1
17,36033.0,Franklin,585.0,15.0,8.0,7.3,33.0,4941.0,431:1
18,36035.0,Fulton,730.0,13.0,8.0,7.7,31.0,4622.0,1082:1
19,36037.0,Genesee,677.0,12.0,6.0,8.3,43.0,4826.0,778:1
20,36039.0,Greene,661.0,12.0,9.0,7.9,39.0,3811.0,1411:1
21,36041.0,Hamilton,93.0,10.0,5.0,8.1,4.0,460.0,4715:1
22,36043.0,Herkimer,715.0,13.0,7.0,7.7,34.0,5650.0,2361:1
23,36045.0,Jefferson,1171.0,13.0,7.0,7.2,63.0,10236.0,717:1
24,36047.0,Kings,22003.0,20.0,8.0,6.8,399.0,336464.0,611:1
25,36049.0,Lewis,274.0,12.0,7.0,7.7,23.0,2737.0,495:1
26,36051.0,Livingston,622.0,13.0,6.0,7.6,39.0,4496.0,1404:1
27,36053.0,Madison,701.0,12.0,6.0,8.0,36.0,4934.0,724:1
28,36055.0,Monroe,7011.0,13.0,8.0,7.4,211.0,57795.0,501:1
29,36057.0,Montgomery,595.0,15.0,7.0,6.2,25.0,4713.0,1214:1
30,36059.0,Nassau,10372.0,12.0,8.0,9.5,451.0,115073.0,391:1
31,36061.0,New York,12134.0,14.0,9.0,7.8,219.0,146866.0,144:1
32,36063.0,Niagara,2757.0,13.0,8.0,7.6,93.0,17892.0,1042:1
33,36065.0,Oneida,2673.0,13.0,8.0,7.6,90.0,18491.0,764:1
34,36067.0,Onondaga,4648.0,13.0,8.0,7.6,150.0,40503.0,521:1
35,36069.0,Ontario,1157.0,11.0,7.0,8.4,70.0,7719.0,613:1
36,36071.0,Orange,3311.0,14.0,7.0,8.4,188.0,33616.0,547:1
37,36073.0,Orleans,532.0,14.0,7.0,7.7,23.0,3697.0,2332:1
38,36075.0,Oswego,1416.0,14.0,7.0,7.8,92.0,10157.0,960:1
39,36077.0,Otsego,671.0,13.0,6.0,7.4,21.0,5628.0,624:1
40,36079.0,Putnam,845.0,10.0,8.0,9.1,36.0,7566.0,380:1
41,36081.0,Queens,17036.0,18.0,8.0,8.2,403.0,380815.0,794:1
42,36083.0,Rensselaer,1776.0,12.0,7.0,7.8,63.0,11082.0,710:1
43,36085.0,Richmond,4617.0,13.0,8.0,8.7,82.0,40931.0,545:1
44,36087.0,Rockland,2273.0,13.0,6.0,8.5,86.0,30357.0,438:1
45,36089.0,St. Lawrence,1295.0,14.0,7.0,7.2,54.0,10229.0,683:1
46,36091.0,Saratoga,1955.0,10.0,7.0,8.6,85.0,13478.0,752:1
47,36093.0,Schenectady,1642.0,12.0,9.0,7.4,31.0,12313.0,550:1
48,36095.0,Schoharie,337.0,12.0,7.0,8.2,14.0,2662.0,1088:1
49,36097.0,Schuyler,229.0,12.0,6.0,8.4,8.0,1585.0,684:1
50,36099.0,Seneca,399.0,13.0,6.0,8.3,29.0,2767.0,671:1
51,36101.0,Steuben,1156.0,12.0,7.0,7.7,52.0,9176.0,683:1
52,36103.0,Suffolk,13411.0,12.0,8.0,9.1,691.0,134882.0,451:1
53,36105.0,Sullivan,1120.0,15.0,9.0,7.5,62.0,8973.0,767:1
54,36107.0,Tioga,538.0,11.0,7.0,8.4,29.0,3864.0,804:1
55,36109.0,Tompkins,778.0,13.0,7.0,7.5,49.0,9151.0,351:1
56,36111.0,Ulster,1977.0,13.0,7.0,7.9,83.0,18032.0,337:1
57,36113.0,Warren,747.0,11.0,7.0,8.1,33.0,5244.0,342:1
58,36115.0,Washington,743.0,12.0,8.0,8.1,47.0,5403.0,917:1
59,36117.0,Wayne,1019.0,12.0,7.0,8.3,48.0,7779.0,1261:1
60,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,314:1

In [ ]:
# Removing the row that was NaN 
select_df = select_df.drop(labels=62, axis=0)
select_df

In [7]:
# The the year for the dataset
select_df["Years"] = "2016"
select_df

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio,Years
1,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,347:1,2016
2,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,589:1,2016
3,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,670:1,2016
4,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,570:1,2016
5,36009.0,Cattaraugus,1035.0,14.0,7.0,7.9,51.0,7397.0,1077:1,2016
...,...,...,...,...,...,...,...,...,...,...
58,36115.0,Washington,743.0,12.0,8.0,8.1,47.0,5403.0,917:1,2016
59,36117.0,Wayne,1019.0,12.0,7.0,8.3,48.0,7779.0,1261:1,2016
60,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,314:1,2016
61,36121.0,Wyoming,447.0,12.0,6.0,8.0,22.0,3018.0,675:1,2016
62,36123.0,Yates,267.0,13.0,5.0,8.5,23.0,2703.0,1200:1,2016

In [8]:
# Reorganizing the dataset
clean_data = select_df[['Years', 'FIPS', 'County', 'Deaths', '% Fair or Poor Health', '% Low birthweight', 
            'Food Environment Index', '# Driving Deaths', '# Uninsured', 'Mental Health Provider Ratio']]
clean_data

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2016,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,347:1
2,2016,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,589:1
3,2016,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,670:1
4,2016,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,570:1
5,2016,36009.0,Cattaraugus,1035.0,14.0,7.0,7.9,51.0,7397.0,1077:1
...,...,...,...,...,...,...,...,...,...,...
58,2016,36115.0,Washington,743.0,12.0,8.0,8.1,47.0,5403.0,917:1
59,2016,36117.0,Wayne,1019.0,12.0,7.0,8.3,48.0,7779.0,1261:1
60,2016,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,314:1
61,2016,36121.0,Wyoming,447.0,12.0,6.0,8.0,22.0,3018.0,675:1
62,2016,36123.0,Yates,267.0,13.0,5.0,8.5,23.0,2703.0,1200:1

In [9]:
clean_data.dtypes

Years                            object
FIPS                            float64
County                           object
Deaths                          float64
% Fair or Poor Health           float64
% Low birthweight               float64
Food Environment Index          float64
# Driving Deaths                float64
# Uninsured                     float64
Mental Health Provider Ratio     object
dtype: object

In [10]:
# Spliting the Mental Health Provider Ratio 
changing = clean_data['Mental Health Provider Ratio'].str.split(':', expand=True)
changing.dtypes

0    object
1    object
dtype: object

In [11]:
# Converting the string into int
changing = changing.astype('int')

In [12]:
# Changing the Mental Health Provider Ratio into a int value
clean_data['Mental Health Provider Ratio'] = changing[1]/changing[0]
clean_data

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2016,36001.0,Albany,3013.0,12.0,9.0,7.7,91.0,21914.0,0.002882
2,2016,36003.0,Allegany,539.0,14.0,7.0,7.9,21.0,3968.0,0.001698
3,2016,36005.0,Bronx,14174.0,29.0,10.0,7.0,253.0,191922.0,0.001493
4,2016,36007.0,Broome,2298.0,14.0,8.0,7.5,66.0,15312.0,0.001754
5,2016,36009.0,Cattaraugus,1035.0,14.0,7.0,7.9,51.0,7397.0,0.000929
...,...,...,...,...,...,...,...,...,...,...
58,2016,36115.0,Washington,743.0,12.0,8.0,8.1,47.0,5403.0,0.001091
59,2016,36117.0,Wayne,1019.0,12.0,7.0,8.3,48.0,7779.0,0.000793
60,2016,36119.0,Westchester,7013.0,13.0,8.0,8.9,183.0,94774.0,0.003185
61,2016,36121.0,Wyoming,447.0,12.0,6.0,8.0,22.0,3018.0,0.001481
62,2016,36123.0,Yates,267.0,13.0,5.0,8.5,23.0,2703.0,0.000833

In [13]:
#convert all objects to integer
df = pd.DataFrame(clean_data)
df = df.astype({"FIPS":"int",
                        "Years":"int",
                        "Deaths":"int",
                        "% Fair or Poor Health":"int",
                        "% Low birthweight":"int",
                        "# Driving Deaths":"int",
                        "# Uninsured":"int"})

In [14]:
df.dtypes

Years                             int64
FIPS                              int64
County                           object
Deaths                            int64
% Fair or Poor Health             int64
% Low birthweight                 int64
Food Environment Index          float64
# Driving Deaths                  int64
# Uninsured                       int64
Mental Health Provider Ratio    float64
dtype: object

In [15]:
df

,Years,FIPS,County,Deaths,% Fair or Poor Health,% Low birthweight,Food Environment Index,# Driving Deaths,# Uninsured,Mental Health Provider Ratio
1,2016,36001,Albany,3013,12,9,7.7,91,21914,0.002882
2,2016,36003,Allegany,539,14,7,7.9,21,3968,0.001698
3,2016,36005,Bronx,14174,29,10,7.0,253,191922,0.001493
4,2016,36007,Broome,2298,14,8,7.5,66,15312,0.001754
5,2016,36009,Cattaraugus,1035,14,7,7.9,51,7397,0.000929
...,...,...,...,...,...,...,...,...,...,...
58,2016,36115,Washington,743,12,8,8.1,47,5403,0.001091
59,2016,36117,Wayne,1019,12,7,8.3,48,7779,0.000793
60,2016,36119,Westchester,7013,13,8,8.9,183,94774,0.003185
61,2016,36121,Wyoming,447,12,6,8.0,22,3018,0.001481
62,2016,36123,Yates,267,13,5,8.5,23,2703,0.000833

In [16]:
# Saving the new and cleaned dataset
file_path = "2016_clean_dataset.csv"
clean_data.to_csv(file_path, index=False )